### **Notebook 1 - Data Loading and cleaning**

### Introduction

Problem statement

Expected impact

#### Importing libraries 

The following libraries are needed for the data cleaning process:

In [2]:
# Loading libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

---

### Loading and extracting data

After loading the dataset, I want to have a look at the shape of dataframe, the data types of each column and a quick descriptive statistical overview of the dataframe. 

Since the dataset contains measurements from multiple cities and I want to focus on a certain location, I will filter the dataset and extract a subset of it, containing only the measurements from Los Angeles.

In [3]:
# Loading the dataset

aqi_df = pd.read_csv('data/airquality.csv')

aqi_df.sample(5)

,Unnamed: 0,CBSA Code,Date,AQI,Category,Defining Parameter,Number of Sites Reporting,city_ascii,state_id,state_name,lat,lng,population,density,timezone
803120,817703,35380,2017-01-16,35,Good,Ozone,10,New Orleans,LA,Louisiana,30.0687,-89.9288,957783.0,891.0,America/Chicago
2983589,3036394,14180,2003-01-03,43,Good,PM2.5,1,Blytheville,AR,Arkansas,35.9321,-89.9051,13735.0,255.0,America/Chicago
1239264,1262317,19700,2014-03-14,46,Good,Ozone,1,Deming,NM,New Mexico,32.2631,-107.7525,14083.0,325.0,America/Denver
1448081,1474673,29740,2013-09-06,84,Moderate,Ozone,9,Las Cruces,NM,New Mexico,32.3265,-106.7893,129538.0,516.0,America/Denver
4868592,4956168,15540,1988-09-10,44,Good,Ozone,2,Burlington,VT,Vermont,44.4876,-73.2316,115682.0,1596.0,America/New_York

In [4]:
# Checking the shape of the dataframe

print(f'The dataframe has {aqi_df.shape[0]} rows and {aqi_df.shape[1]} columns.')

The dataframe has 5617325 rows and 15 columns.

In [5]:
# Having a quick overview of the descriptive stats of the dataframe (numerical columns only)

aqi_df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,5617325.0,2.858637e+06,1.650380e+06,0.0000,1.430628e+06,2.857802e+06,4.287185e+06,5.718370e+06
CBSA Code,5617325.0,3.028285e+04,1.142715e+04,10100.0000,2.010000e+04,3.034000e+04,4.042000e+04,4.974000e+04
AQI,5617325.0,4.665572e+01,3.570811e+01,0.0000,3.000000e+01,4.100000e+01,5.400000e+01,2.064600e+04
Number of Sites Reporting,5617325.0,3.650273e+00,5.092484e+00,1.0000,1.000000e+00,2.000000e+00,4.000000e+00,7.200000e+01
lat,5617325.0,3.849210e+01,5.595372e+00,17.9743,3.494420e+01,3.918860e+01,4.211550e+01,6.483530e+01
lng,5617325.0,-9.425695e+01,1.678664e+01,-159.3521,-1.069642e+02,-8.893420e+01,-8.154200e+01,-6.606100e+01
population,5617325.0,5.642292e+05,1.537382e+06,1903.0000,2.843700e+04,1.225490e+05,3.913710e+05,1.868002e+07
density,5617325.0,1.083637e+03,1.013632e+03,4.0000,5.250000e+02,8.340000e+02,1.255000e+03,1.076800e+04

In [6]:
# Extracting the new datafarame using with a Boolean filtering 
# (applying the filtering on the copy of the original dataframe)

los_angeles_aqi_df = aqi_df[aqi_df['city_ascii']=='Los Angeles'].copy()

In [7]:
# The shape of the extracted dataframe

print(f'The new dataframe has {los_angeles_aqi_df.shape[0]} rows and {los_angeles_aqi_df.shape[1]} columns.')

The new dataframe has 15341 rows and 15 columns.

---

### Data Cleaning

During data cleaning, I will go through the following steps to make sure the dataframe is ready for analysis: 

- **Formatting**: the data types need to be fit for the purpose of the analysis
- **Indexing**: the column containing the time values needs to be the index of the dataframe
- **Duplicate** rows and columns: rows and columns should represent unique information
- **Missing data**: there shouldn't be any missing values or indices

**Formatting**

In [8]:
# Checking the datatypes

los_angeles_aqi_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15341 entries, 114716 to 5576890
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 15341 non-null  int64
 1   CBSA Code                  15341 non-null  int64
 2   Date                       15341 non-null  object
 3   AQI                        15341 non-null  int64
 4   Category                   15341 non-null  object
 5   Defining Parameter         15341 non-null  object
 6   Number of Sites Reporting  15341 non-null  int64
 7   city_ascii                 15341 non-null  object
 8   state_id                   15341 non-null  object
 9   state_name                 15341 non-null  object
 10  lat                        15341 non-null  float64
 11  lng                        15341 non-null  float64
 12  population                 15341 non-null  float64
 13  density                    15341 non-null  float64
 14  timezone                   15341 non-null  object
dtypes: float64(4), int64(4), object(7)
memory usage: 1.9+ MB

We can see that the data type of the `Date` column is object which is not fit for the purpose of this analysis, so I will change this column to datetime format. The rest of the columns are in the right data type, so I will leave them as they are.

In [9]:
# Changing the datatype of the Date column

los_angeles_aqi_df['Date'] = pd.to_datetime(los_angeles_aqi_df['Date']).copy()

**Indexing**

Since I will be working with time series, the index of the dataframe needs to be the time values of the data. Right now this is not the case (see Data Loading section), so the index must be reset to the `Date` column. Before doing that, I will extract the day, month and year values of the timestamps into different columns to preserve them for further analysis in the next section.

Currently the column stores the date values in a random order, so I will sort in an ascending order.

In [10]:
# Extracting day, month, and year values into new columns

los_angeles_aqi_df['Year'] = los_angeles_aqi_df['Date'].dt.year
los_angeles_aqi_df['Month'] = los_angeles_aqi_df['Date'].dt.month
los_angeles_aqi_df['Day'] = los_angeles_aqi_df['Date'].dt.day

In [11]:
# Resetting the index of the dataframe

los_angeles_aqi_df = los_angeles_aqi_df.set_index('Date')

In [12]:
# Sorting the df by the index (Date)

los_angeles_aqi_df = los_angeles_aqi_df.sort_index()

**Duplicate and redundant rows and columns**

Having duplicate rows or columns could heavily distort the analysis and modeling, so I will check for duplicates and deal with them appropriately. I will also look for and remove columns that are not relevant for the current project.

First let's check duplicate columns:

In [13]:
# Checking for duplicate columns

los_angeles_aqi_df.T.duplicated()

Unnamed: 0                   False
CBSA Code                    False
AQI                          False
Category                     False
Defining Parameter           False
Number of Sites Reporting    False
city_ascii                   False
state_id                     False
state_name                   False
lat                          False
lng                          False
population                   False
density                      False
timezone                     False
Year                         False
Month                        False
Day                          False
dtype: bool

We can see there was no column picked up as a duplicate. However, we have a redundant column that are semantically identical. These are the `state_id` and `state_name` columns as they short the same information in full and shortened forms, so I will remove the former as the `state_name` is easier to comprehend.

We also have some columns that are either nonsensical or not relevant for the analysis:

- `Unnamed: 0` was a redundant index column that I don't need any longer
- `CBSA` is a geographical marker related to the air monitors and is not relevant for the analysis

In [14]:
# Removing duplicate and non-relevant columns

los_angeles_aqi_df.drop(columns=['state_id', 'Unnamed: 0', 'CBSA Code'], inplace=True)

Now let's check duplicate rows:

In [15]:
# Checking for duplicate rows

los_angeles_aqi_df.duplicated().sum()

0

There are no duplicate rows in the dataset, and the columns that were either semantically identical or not relevant for the analysis got removed from the dataset.

**Missing data**

It's important we don't have any missing values or indicis in the dataset. First, I'll check for missing indices, then for missing values.

In [16]:
# Checking for missing indices

ref_range = pd.date_range(
    start=los_angeles_aqi_df.index.min(), 
    end=los_angeles_aqi_df.index.max(),
    freq='D')

ref_range.difference(los_angeles_aqi_df.index)

DatetimeIndex([], dtype='datetime64[ns]', freq='D')

The above query didn't return anything, which means that the are no differences between the reference range and our actual dataframe, so there are no missing indices in the dataset.

Checking for missing values:

In [17]:
los_angeles_aqi_df.isna().sum()

AQI                          0
Category                     0
Defining Parameter           0
Number of Sites Reporting    0
city_ascii                   0
state_name                   0
lat                          0
lng                          0
population                   0
density                      0
timezone                     0
Year                         0
Month                        0
Day                          0
dtype: int64

There are no missing values in the dataframe.

---

**Saving Work**

In [18]:
# Save cleaned data

los_angeles_aqi_df.to_csv('data/cleaned_aqi.csv', index_label='Date')

---

**Notebook Ending Remarks**

In this section, I have extracted the relevant parts of the datasets that I need for my analysis and merged them into a working dataframe. I have cleaned this dataframe to ensure its quality is as high as possible, so it can provide an accurate and reliable analysis in the next steps.

In the next notebook, I'll explore the dataset to gain a better understanding that can inform the modelling process, and to draw some preliminary conclusions.